@model Factory.Models.Machine


<h2>Add a licensed engineer</h2>

<h4>Machine: @Model.Name</h4>

@if (((SelectList)ViewBag.EngineerId).Count() == 0)
{
    <p>No engineers have been hired. Go to this @Html.ActionLink("this page", "Create", "Engineers") to add an Engineer.</p>
}
else
{
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.MachineId)

        @Html.Label("Select an engineer")
        @Html.DropDownList("EngineerId")

        <input class="button" type="submit" value="Add engineer" />
    }
}

<p>@Html.ActionLink("Back to machine list", "Index")</p>