@using Factory.Models
@model Factory.Models.Machine

<h2>Machine: @Model.Name</h2>
<h4>@Model.Function</h4>
<h4>@Model.Status</h4>

@using (Html.BeginForm("UpdateStatus", "Machines"))
{
    @Html.Hidden("id", @Model.MachineId)

    @Html.RadioButton("newStatus", "Functioning normally", true, new { id = "func-radio" })
    <label for="func-radio">Functioning normally</label>

    @Html.RadioButton("newStatus", "Malfunctioning", new { id = "malfunc-radio" })
    <label for="malfunc-radio">Malfunctioning</label>

    @Html.RadioButton("newStatus", "Undergoing repairs", new { id = "repair-radio" })
    <label for="repair-radio">Undergoing repairs</label>

    <input type="submit" value="Update status" />
}

@if (@Model.JoinEntities.Count == 0)
{
    <p>There are no engineers licensed to repair the @Model.Name.</p>
}
else
{
    <h3>Repair Engineers:</h3>
    <ul>
        @foreach (EngineerMachine join in Model.JoinEntities)
        {
            <li>@join.Engineer.Name</li>
            @using (Html.BeginForm("DeleteJoin", "Engineers"))
            {
                @Html.Hidden("joinId", @join.EngineerMachineId)
                @Html.Hidden("engId", @Model.MachineId)
                <input type="submit" value="Remove engineer" />
            }
        }
    </ul>
}

<h3>Inspections</h3>

@if (@Model.Inspections.Count == 0)
{
    <p>This machine has not been insepcted.</p>
}
else
{
    @foreach (Inspection inspec in Model.Inspections)
    {
        <li>Date: @inspec.Date | Engineer: @inspec.Inspector</li>
    }
}

<h3>Record Inspection: </h3>

@* <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Function, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p> *@

@* @using (Html.BeginForm())
{
@Html.Label("Date", "Date")
@Html.TextBox("Date", new { type = "date" })
@Html.Label("Inspector", "Inspector")
@Html.DropDownList("EngineerId")

<input type="submit" value="Add machine" />
} *@

@Html.ActionLink("Add a licensed engineer", "AddEngineer", new { id = Model.MachineId }) |
@Html.ActionLink("Update machine info", "Edit", new { id = Model.MachineId }) |
@Html.ActionLink("Decommission machine", "Delete", new { id = Model.MachineId }) |
@Html.ActionLink("Back to machine list", "Index")
