@model Factory.Models.Engineer

<div class=content>
    <h2>Add a new engineer</h2>

    <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
    <p>@Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

    @using (Html.BeginForm())
    {
        <div class=form-layout>
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
            @Html.LabelFor(model => model.Specialty)
            @Html.TextBoxFor(model => model.Specialty)
            <input class="form-button" type="submit" value="Add engineer" />
        </div>
    }

    @Html.ActionLink("Show all engineers", "Index")
</div>