@using Factory.Models
@model Factory.Models.Engineer

<h2>Profile</h2>
<h3>Engineer: @Model.Name</h3>
<h4>@Model.Specialty</h4>
<h4>Repair assignment: @Model.Assignment</h4>

@using (Html.BeginForm())
{
    @Html.RadioButton("assignment", "Unassigned", true, new { id = "unassign-radio" })
    <label for="unassign-radio">Unassigned</label>

    @foreach (EngineerMachine join in Model.JoinEntities)
    {
        @Html.RadioButton("assignment", @join.Machine.Name, new { id = $"{join.Machine.Name}-radio" })
        <label for="@($"{join.Machine.Name}-radio")">@join.Machine.Name</label>
    }
}

@if (@Model.JoinEntities.Count == 0)
{
    <p>@Model.Name has not been licensed to repair any machines.</p>
}
else
{
    <h3>Repair Licenses:</h3>
    <ul>
        @foreach (EngineerMachine join in Model.JoinEntities)
        {
            <li>@join.Machine.Name</li>
            @using (Html.BeginForm("DeleteJoin", "Engineers"))
            {
                @Html.Hidden("joinId", @join.EngineerMachineId)
                @Html.Hidden("engId", @Model.EngineerId)
                <input type="submit" value="Remove license" />
            }
        }
    </ul>
}

@Html.ActionLink("Add a repair license", "AddMachine", new { id = Model.EngineerId }) |
@Html.ActionLink("Update engineer info", "Edit", new { id = Model.EngineerId }) |
@Html.ActionLink("Remove engineer", "Delete", new { id = Model.EngineerId }) |
@Html.ActionLink("Back to engineer list", "Index")
