@using Factory.Models
@model Factory.Models.Engineer

<div class=content>
    <div class=details>
        @Html.ActionLink("Back to engineer list", "Index")
        <h2>Engineer: @Model.Name</h2>
        <h4>Specialty: @Model.Specialty</h4>
        @Html.ActionLink("Update engineer info", "Edit", new { id = Model.EngineerId }) |
        @Html.ActionLink("Remove engineer", "Delete", new { id = Model.EngineerId })
        <h4>Repair assignment: @Model.Assignment</h4>

        @if (@Model.JoinEntities.Count == 0)
        {
            <p>@Model.Name has not been licensed to repair any machines.</p>
        }
        else
        {
            @using (Html.BeginForm("Reassign", "Engineers"))
            {
                <div class=alt-form>
                    @Html.Hidden("id", @Model.EngineerId)

                    <div class=radio-entry>
                        @Html.RadioButton("newAssign", "Unassigned", true, new { id = "unassign-radio" })
                        <label for="unassign-radio">Unassigned</label>
                    </div>
                    @foreach (EngineerMachine join in Model.JoinEntities)
                    {
                        <div class=radio-entry>
                            @Html.RadioButton("newAssign", $"{join.Machine.Name}", new { id = $"{join.Machine.Name}-radio" })
                            <label for="@($"{join.Machine.Name}-radio")">@join.Machine.Name</label>
                        </div>
                        <input class=form-button type="submit" value="Reassign" />
                    }
                </div>
            }
            <h3>Repair Licenses:</h3>
            <ul>
                @foreach (EngineerMachine join in Model.JoinEntities)
                {
                    <div class=mach-eng>
                        <li>@join.Machine.Name |</li>
                        @using (Html.BeginForm("DeleteJoin", "Engineers"))
                        {
                            @Html.Hidden("joinId", @join.EngineerMachineId)
                            @Html.Hidden("engId", @Model.EngineerId)
                            <input class=remove type="submit" value="Remove license" />
                        }
                    </div>
                }
            </ul>
        }

        @Html.ActionLink("Add a repair license", "AddMachine", new { id = Model.EngineerId })
    </div>

    <div class=event-log>

        <h3>Accident Log</h3>


        @if (@Model.Accidents.Count == 0)
        {
            <p>@Model.Name has had 0 safety incidents.</p>
        }
        else
        {
            @foreach (Accident acc in Model.Accidents)
            {
                <li>@acc.Date.ToString("yyyy-MM-dd") | @acc.Description</li>
            }
        }

        <h3>Record an accident: </h3>
        @using (Html.BeginForm("Create", "Accidents"))
        {
            <div class=form-layout>
                @Html.Hidden("EngineerId", @Model.EngineerId)
                @Html.Label("Date", "Date")
                @Html.Editor("Date", new { htmlAttributes = new { @type = "date" } })
                @Html.Label("Description", "Description")
                @Html.TextBox("Description")

                <input class="form-button" type="submit" value="Add accident" />
            </div>
        }
    </div>
</div>
