@model Factory.Models.Engineer

<h2>Update info for @Model.Name</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.Specialty)
    @Html.EditorFor(model => model.Specialty)
    <input type="submit" value="Update" />
}

@Html.ActionLink("Back to engineer list", "Index")