@using Factory.Models;

<div class=content>
    <h2>Engineering team</h2>

    @if (@Model.Count == 0)
    {
        <h4>There are no engineers on staff.</h4>
    }

    <div class=eng-list>
        @foreach (Engineer e in Model)
        {
            <a href="@Url.Action("Details", "Engineers", new { id = e.EngineerId })">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@e.Name</h5>
                        <p class="card-text">@e.Specialty</p>
                    </div>
                </div>
            </a>
        }
    </div>
    @Html.ActionLink("Add a new engineer", "Create")
</div>